@using Microsoft.AspNetCore.Identity
@using Recinia.Entities
@using Recinia.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    <body>

        @if (SignInManager.IsSignedIn(User))
        {

            <div class="menu">
                <div class="item">Hello @UserManager.GetUserName(User)</div>
                <form action="/Logout" method="post">
                    <button asp-controller="Main" asp-action="LogOff" type="submit" class="ui button blue" href="/Logout">Log off</button>
                </form>
                @*@Html.RouteLink("Logout", "haja")*@
                @*<a href="/Main/LogOff">Logout</a>*@

                @*<a asp-controller="main" asp-action="Logoff">deconnect</a>*@

                @*<output type="submit" class="ui large green submit button" name="LogOff" value="Déconnexion" />*@
            </div>
        }

        else
        {
            <div class="right menu">
                <div class="item">
                    <a class="ui button" href="/Main/Index">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button" href="/Main/Register">Sign Up</a>
                </div>
            </div>
        }

    </body>

