@{
    ViewData["Title"] = "ConfirmEmail";
}
    <h2 class="ui header">@ViewData["Title"]</h2>
    <div>
        <p>
            Thank You For Confirming Your Email. Please <a asp-controller="Main" asp-action="Index">Click Here To Go Log In</a>
        </p>
    </div>
